:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --main-text-color: #2ad146;

  --background-start-color: hsl(130, 67%, 15%);
  --background-end-color: hsl(131, 54%, 10%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--main-text-color);
  font-weight: 800;
  letter-spacing: 2px;
}

body {
  background:
    radial-gradient(rgba(255, 255, 255, 0.1), black) fixed,
    repeating-linear-gradient(to bottom,
      var(--background-start-color),
      var(--background-end-color) 5px);
  background-blend-mode: hard-light;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes scanline-vertical {
  0% {
    transform: translate(0, 20000%);
  }

  20%,
  100% {
    transform: translate(0, 0);
  }
}

#scanline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(145, 145, 145, 0.1);
  animation: scanline-vertical 7s ease-in infinite;
}